<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = site.texts.about_author %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = site.texts.back_home %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="{% if site.header_image == 'gravatar' %}
								http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80
							{% else %}
								{{ site.header_image }}
							{% endif %}" class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>

</aside>
