<!-- http://ogp.me/ -->
<meta name="og:title" content="{% if page.title %}
                                 {{ page.title }} - {{ site.title }}
                               {% else %}
                                 {{ site.title }}
                               {% endif %}" />

<meta property="og:type" content="website" />

<meta name="og:description" content="{% if page.excerpt %}
                                       {{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}
                                     {% else %}
                                       {{ site.description | strip_html | strip_newlines }}
                                     {% endif %}" />
<meta name="description" content="{% if page.excerpt %}
                                    {{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}
                                  {% else %}
                                    {{ site.description | strip_html | strip_newlines }}
                                  {% endif %}" />

<meta content="{{ site.baseurl }}/assets/favicon/android-chrome-192x192.png" name="og:image" />

<meta content="{{ page.url | prepend: site.baseurl }}" property="url" />
<meta content="{{ page.url | prepend: site.baseurl }}" property="og:url" />
